body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;

}
.text_categories{
    margin-left: 25px;
}

.Categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}

.Categories a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFEFF0;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-left: 29px;
}
.taskss{
    margin-left: 29px;
    margin-left: 25px;
}

.Categories a img {
    margin-bottom: 5px;
    max-width: 600px;
}

.search{
text-align: center;
margin-top: 13px;
padding: 10px;
border: none;
border-radius: 10px;
background:rgb(187, 196, 179) ;
margin-left: 17px;
/* margin-right: 17px; */
 width: 90%;
 height: 35px;
 font-size: 16px;
}




.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 0;
}

.categories{
    display: inline;
}
.tasks {
    margin-top:29px;
}
.task {
    background-color: rgb(100, 118, 118);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 29px; 

    
}

.task input[type='checkbox'] {
    margin-right: 12px; 
    /* transform: scale(1.2);  */
}

.add-task {
    font-size: 92px;
    font-weight: bolder;
    width: 80px;
    height:80px;
    background-color:black;
    color: rgb(101,194,186) ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    cursor: pointer;
    text-decoration: none;
    margin-top: 0px;
}


.extra{
    max-width: 100vw;
    height: 40px;
    margin: 0; 
    padding: 3rem;
    border-radius: 3rem 3rem 0 0;
    background-color:rgb(101,194,186);
     position: relative; 
    bottom: 0;
    left: 0;
    margin-right: 0px;
    margin-top: 6rem;  
}


.extra {
    overflow: hidden;
}


.down {

    align-items: center;
    margin-top: 0px;
    top: 1px;
} 
